version: "3.4"
services:
  api:
    container_name: wcstore_api
    build:
      context: .
      dockerfile: infrastructure/docker/java.dockerfile
      target: dev
    volumes:
      - ./:/code
      - ./.m2:/code/.m2
    env_file: 
      - .env
    working_dir: /code
    command: 
      - |
        mvn install
        cd data-service
        mvn spring-boot:run -B -Dspring-boot.run.profiles=dev
    depends_on: 
      - postgres
      - mailhog
    ports: 
      - "${API_SERVER_PORT}:${API_SERVER_PORT}"
    tty: true

  postgres:
    container_name: wcstore_postgres
    image: postgres:13
    ports:
      - "5555:5432"
    environment:
      POSTGRES_USER: wcs
      POSTGRES_PASSWORD: wcs
      POSTGRES_DB: wcs
    volumes:
      - wcs_pgdata:/var/lib/postgresql/data

  # Testing mail forms
  mailhog:
    container_name: wcstore_mail
    image: mailhog/mailhog
    ports:
      - "1025:1025" #SMTP port
      - "8025:8025" #Web frontend

volumes:
  wcs_pgdata:
