version: "3.4"
services:
  api:
    container_name: wcstore
    build:
      context: ../..
      dockerfile: infrastructure/docker/java.dockerfile
      target: build
    env_file: 
      - .env
    volumes:
      - ../../.m2:/var/maven/.m2
    environment: 
      MAVEN_CONFIG: /var/maven/.m2
    working_dir: /code
        